body {
	font-size: 20px;
}


small {
	float: right;
	width: 500px;
	box-sizing: border-box;

}

button {
	color: #000;
	border: 1px solid;
	font-size: 20px;
}

button.user {
	float:left;
	width: auto;
	box-sizing: border-box;
	height: 50px;
	margin-right: 50px;


}


heading {
	font-size: 60px;
	display: inline-block;
	margin: 60px 20px;
	width:100%;
	border: 1px solid green;
	text-align: center;
	font-family: monospace;
	background-color: SkyBlue;
	color: white;

}

.tweet {
	margin: 20px auto;
	box-sizing: border-box;
	height: 50px;
	border: 1px solid blue;
	color: black;
}


.evenIndex {
	background-color: rgb(95, 194, 221);
}

.oddIndex {
	background-color: rgb(239, 137, 0);
}